<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define the BookRepository bean -->
    <!-- This remains the same as it's the dependency being injected -->
    <bean id="bookRepository" class="com.library.repository.BookRepository">
        <!-- No properties to set for now -->
    </bean>

    <!-- Define the BookService bean -->
    <!-- IMPORTANT: We're changing this to use setter injection -->
    <bean id="bookService" class="com.library.service.BookService">
        <!-- Replaced <constructor-arg> with <property> for setter injection -->
        <property name="bookRepository" ref="bookRepository"/>
    </bean>

</beans>
