<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- Define the BookRepository bean -->
    <bean id="bookRepository" class="com.library.repository.BookRepository">
        <!-- No properties to set for now -->
    </bean>

    <!-- Define the BookService bean -->
    <bean id="bookService" class="com.library.service.BookService">
        <constructor-arg value="LibraryApp"/>
        <property name="bookRepository" ref="bookRepository"/>
    </bean>

    <!-- Define the LoggingAspect bean -->
    <bean id="loggingAspect" class="com.library.aspect.LoggingAspect"/>

    <!-- Enable Spring's AspectJ auto-proxying -->
    <aop:aspectj-autoproxy/>

</beans>
